$primary-color: #665329;
$secondary-color: #757f49;
$secondary-color-t: rgba(117, 127, 73, 0.8);
$button-color: #4b6071;
$card-gradiant: linear-gradient(to right bottom, #bb8a44, #9c7135, #7e5926, #614317, #462d09);
$breakpoint-desktop: 992px;

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arvo', serif;
    color: white;
    width: 100%;
    height: auto;
    background-color: $primary-color;

    & .navbar {
        padding: 2rem;
        background-color: $secondary-color-t;

        & .navbar-brand {
            font-size: 4rem;
        }
        & .nav-item {
            font-size: 2.5rem;
        }
        & .navbar-toggler {
            width: 4em;
            height: 4em;
            border: none;

            & .navbar-toggler-icon {
                width: 3em;
                height: 3em;
            }
        }
    }
    & main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, auto);
        margin-top: 2em;
        margin-bottom: 2em;

        & section {
            padding: 4rem;
            display: grid;

            & .no-boot-card {
                display: grid;
            }
            & h2 {
                text-align: center;
                width: 100%;
                font-size: 3em;
                font-weight: bold;
                padding: 0.5em;
            }
            & p {
                text-align: center;
                font-size: 2.5em;
                padding: 1em;
            }
            & ul {
                font-size: 1.9em;
            }
            &:nth-of-type(1){
                & .no-boot-card {
                    background-image: $card-gradiant;
                    grid-template-columns: repeat(3,1fr);
                    grid-template-rows: auto 25em repeat(2, auto);
                    border-radius: 5em;
                    box-shadow: 1.5em 1.5em 2em rgba(0, 0, 0, 0.2);

                    & h2 {
                        grid-area: 1/1/2/span 3;
                    }
                    & .img-wrapper {
                        grid-area: 2/1/3/span 3;

                        & figure {
                            min-width: 100%;
                            min-height: 100%;
                            background-image: url(../img/altar.webp);
                            background-position: top;
                            background-size: cover;
                            box-shadow: 0 1.5em 2em rgba(0, 0, 0, 0.2);
                        }
                    }
                    & p {
                        grid-area: 3/1/4/span 3;
                    }
                    & ul {
                        align-self: center;
                        list-style: none;
                        grid-area: 4/1/span 2/span 2;
                        margin-left: 1em;
                    }
                    & .button-participate {
                        background-color: $button-color;
                        border: none;
                        border-radius: 1em;
                        place-self: center;
                        height: 4em;
                        width: 15em;
                        margin: 0.5em;
                        margin-bottom: 2em;
                        margin-right: 4em;
                        grid-area: 4/3/5/4;
                        transition: transform 0.2s;
                        box-shadow: 1.5em 1.5em 2em rgba(0, 0, 0, 0.2);

                        & a {
                            font-size: 1.5em;
                            color: white;
                            text-decoration: none;
                        }
                    }
                    & .button-participate:hover {
                        transform: scale(1.2);
                    }
                }
            }
            &:nth-of-type(2){
                & .no-boot-card {
                    background-image: $card-gradiant;
                    grid-template-columns: repeat(3,1fr);
                    grid-template-rows: auto 30em repeat(2, auto);
                    border-radius: 5em;
                    box-shadow: 1.5em 1.5em 2em rgba(0, 0, 0, 0.2);

                    & h2 {
                        grid-area: 1/1/2/span 3;
                    }
                    & .img-wrapper {
                        grid-area: 2/1/3/span 3;

                        & figure {
                            min-width: 100%;
                            min-height: 100%;
                            background-image: url(../img/cabin.webp);
                            background-position: top;
                            background-size: cover;
                            box-shadow: 0 1.5em 2em rgba(0, 0, 0, 0.2);
                        }
                    }
                    & p {
                        grid-area: 3/1/4/span 3;
                    }
                    & ul {
                        align-self: center;
                        list-style: none;
                        grid-area: 4/1/span 2/span 2;
                        margin-left: 1em;
                    }
                    & .button-participate {
                        background-color: $button-color;
                        border: none;
                        border-radius: 1em;
                        place-self: center;
                        height: 4em;
                        width: 15em;
                        margin: 0.5em;
                        margin-bottom: 2em;
                        margin-right: 4em;
                        grid-area: 4/3/5/4;
                        transition: transform 0.2s;
                        box-shadow: 1.5em 1.5em 2em rgba(0, 0, 0, 0.2);

                        & a {
                            font-size: 1.5em;
                            color: white;
                            text-decoration: none;
                        }
                    }
                    & .button-participate:hover {
                        transform: scale(1.2);
                    }
                }
            }
            &:nth-of-type(3){
                & .no-boot-card {
                    background-image: $card-gradiant;
                    grid-template-columns: repeat(3,1fr);
                    grid-template-rows: auto 25em repeat(2, auto);
                    border-radius: 5em;
                    box-shadow: 1.5em 1.5em 2em rgba(0, 0, 0, 0.2);

                    & h2 {
                        grid-area: 1/1/2/span 3;
                    }
                    & .img-wrapper {
                        grid-area: 2/1/3/span 3;

                        & figure {
                            min-width: 100%;
                            min-height: 100%;
                            background-image: url(../img/museum.webp);
                            background-position: top;
                            background-size: cover;
                            box-shadow: 0 1.5em 2em rgba(0, 0, 0, 0.2);
                        }
                    }
                    & p {
                        grid-area: 3/1/4/span 3;
                    }
                    & ul {
                        align-self: center;
                        list-style: none;
                        grid-area: 4/1/span 2/span 2;
                        margin-left: 1em;
                    }
                    & .button-participate {
                        background-color: $button-color;
                        border: none;
                        border-radius: 1em;
                        place-self: center;
                        height: 4em;
                        width: 15em;
                        margin: 0.5em;
                        margin-bottom: 2em;
                        margin-right: 4em;
                        grid-area: 4/3/5/4;
                        transition: transform 0.2s;
                        box-shadow: 1.5em 1.5em 2em rgba(0, 0, 0, 0.2);

                        & a {
                            font-size: 1.5em;
                            color: white;
                            text-decoration: none;
                        }
                    }
                    & .button-participate:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
    & footer {
        height: 8em;
        width: 100%;
        background-color: $secondary-color;

        & .social {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            & a {
                & img {
                    width: 4em;
                }
            }
        }
    }
}
@media (min-width: $breakpoint-desktop){}
