$primary-color: #665329;
$secondary-color: #757f49;
$secondary-color-t: rgba(117, 127, 73, 0.8);
$breakpoint-desktop: 992px;

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arvo', serif;
    color: white;
    width: 100%;
    height: auto;
    background-color: $primary-color;

    & .navbar {
        padding: 2rem;
        background-color: $secondary-color-t;

        & .navbar-brand {
            font-size: 4rem;
        }
        & .nav-item {
            font-size: 2.5rem;
        }
        & .navbar-toggler {
            width: 4em;
            height: 4em;
            border: none;

            & .navbar-toggler-icon {
                width: 3em;
                height: 3em;
            }
        }
    }
    & main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40em auto auto;
        width: 100%;
        height: auto;

        & section {
            & h2 {
                font-weight: bold;
                font-size: 3em;
                margin-bottom: 1em;
                text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
            }
            & p {
                font-size: 2em;
                text-align: center;
                margin-bottom: 1em;
            }
            &:nth-of-type(1) {
                position: relative;

                & .arrow-wrapper {
                    display: none;
                }
                & .main-img-wrapper {
                    position: relative;
                    width: 100%;
                    height: 100%;

                    & figure {
                        min-width: 100%;
                        min-height: 100%;
                        background-image: url("../img/mountain.webp");
                        background-position: center;
                        background-size: cover;
                        box-shadow: 0 1em 1em rgba(0, 0, 0, 0.2);
                    }
                    & p {
                        position: absolute;
                        font-size: 3em;
                    }
                    & .catchphrase-1 {
                        top: 6em;
                        left: 1em;
                    }
                    & .catchphrase-2 {
                        top: 7.5em;
                        left: 2em;
                    }
                    & .catchphrase-3 {
                        top: 9em;
                        left: 3em;
                    }
                }
            }
            &:nth-of-type(2) {
                margin-top: 2em;
                padding: 2em;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;

                & .img-wrapper {
                    width: 100%;
                    height: 20em;

                    & figure {
                        min-width: 100%;
                        min-height: 100%;
                        background-image: url("../img/people.webp");
                        background-position: center;
                        background-size: cover;
                        box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.2);
                        border-radius: 4em;
                    }
                }
            }
            &:nth-of-type(3) {
                margin-top: 2em;
                padding: 2em;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;

                & .iframe-wrapper {
                    display: none;
                }
            }
        }
    }
    & footer {
        height: 8em;
        width: 100%;
        background-color: $secondary-color;

        & .social {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            & a {
                & img {
                    width: 4em;
                }
            }
        }
    }
}
@media (min-width: $breakpoint-desktop){
    body {
        font-family: 'Arvo', serif;
        color: white;
        width: 100%;
        height: auto;
        background-color: $primary-color;

        & .navbar {
            padding: 1rem;
            background-color: $secondary-color-t;

            & .navbar-brand {
                font-size: 1.6rem;
            }
            & .nav-item {
                font-size: 1rem;
            }
            & .navbar-toggler {
                width: 1em;
                height: 1em;
                border: none;

                & .navbar-toggler-icon {
                    width: 1em;
                    height: 1em;
                }
            }
        }
        & main {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 40em auto auto;
            width: 100%;
            height: auto;

            & section {
                & h2 {
                    font-weight: bold;
                    font-size: 2em;
                    margin-bottom: 1em;
                    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
                }
                & p {
                    font-size: 1em;
                    text-align: center;
                    margin-bottom: 2em;
                }
                &:nth-of-type(1) {
                    position: relative;
                    grid-area: 1/1/span 1/span 2;

                    & .arrow-wrapper {
                        display: flex;
                        justify-content: center;
                        position: absolute;
                        top:35em;
                        left: 0;
                        width: 100%;
                        height: 4em;

                        & img {
                            position: absolute;
                            height: 4em;
                            animation: 1.2s ease-in 0s infinite bounce;
                        }
                    }
                    & .main-img-wrapper {
                        position: relative;
                        width: 100%;
                        height: 100%;

                        & figure {
                            min-width: 100%;
                            min-height: 100%;
                            background-image: url("../img/mountain.webp");
                            background-position: center;
                            background-size: cover;
                            box-shadow: 0 1em 1em rgba(0, 0, 0, 0.2);
                        }
                        & p {
                            position: absolute;
                            font-size: 2em;
                        }
                        & .catchphrase-1 {
                            top: 12em;
                            left: 1em;
                        }
                        & .catchphrase-2 {
                            top: 13.5em;
                            left: 2em;
                        }
                        & .catchphrase-3 {
                            top: 15em;
                            left: 3em;
                        }
                    }
                }
                &:nth-of-type(2) {
                    margin-top: 2em;
                    padding: 2em;
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;

                    & .img-wrapper {
                        width: 80%;
                        height: 20em;

                        & figure {
                            min-width: 100%;
                            min-height: 100%;
                            background-image: url("../img/people.webp");
                            background-position: center;
                            background-size: cover;
                            box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.2);
                            border-radius: 2em;
                        }
                    }
                }
                &:nth-of-type(3) {
                    margin-top: 2em;
                    padding: 2em;
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;

                    & .iframe-wrapper {
                        display: block;
                        margin-top: 1em;
                        width: 80%;
                        height: 20em;

                        & iframe {
                            min-width: 100%;
                            min-height: 100%;
                            box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.2);
                            border-radius: 2em;
                        }
                    }
                }
            }
        }
        & footer {
            height: 3.5em;
            width: 100%;
            background-color: $secondary-color;

            & .social {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                & a {
                    & img {
                        width: 2.5em;
                    }
                }
            }
        }
    }
    @keyframes bounce{
        0% {
            transform: translateY(0em);
        }
        50% {
            transform: translateY(-1em);
        }
        100% {
            transform: translateY(0em);
        }
    }
}
