$primary-color: #665329;
$secondary-color: #757f49;
$breakpoint-landscape-phone: 576px;
$breakpoint-tablets: 768px;
$breakpoint-desktops: 992px;
$breakpoint-large-desktops: 1200px;


* {
    margin: 0;
    color: white;
    font-family: 'Arvo', serif;
}
body {
    background-color: $primary-color;
    height: auto;

    & nav {
        padding-left: 3%;
        padding-right: 3%;
    }
    & .navbar {
        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.2);
    }
    & .navbar-brand {
        font-size: 25px;
        font-weight: bold;
    }
    & main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 35vh repeat(auto-fit, minmax(250px, auto));
        grid-gap: 2%;

        & section {
            & p {
                margin-top: 2%;
                margin-bottom: 5%;
            }
            & h2 {
                width: 100%;
                text-align: center;
                font-size: 25px;
                font-weight: bolder;
                text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
            }
            &:nth-of-type(1) {
                position: relative;

                & .main-img-wrapper {
                    width: 100%;
                    height: 100%;
                    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.2);

                    & .main-img {
                        min-width: 100%;
                        min-height: 100%;
                        background-image: url(../img/mountain.webp);
                        background-position: center;
                        background-size: cover;
                    }
                }
                & p {
                    position: absolute;
                    font-size: 20px;
                }
                & .catchphrase-1 {
                    top: 50%;
                    left: 5%;
                }
                & .catchphrase-2 {
                    top: 60%;
                    left: 10%;
                }
                & .catchphrase-3 {
                    top: 70%;
                    left: 15%;
                }
            }
            &:nth-of-type(2) {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(auto-fit, auto);
                padding: 5%;

                & p {
                    text-align: justify;
                    font-size: 15px;
                }
                & .section1-img-wrapper {
                    width: 100%;
                    height: 25vh;

                    & figure {
                        min-width: 100%;
                        min-height: 100%;
                        background-image: url(../img/people.webp);
                        background-position: center;
                        background-size: cover;
                        border-radius: 40px;
                        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);

                    }
                }

            }
            &:nth-of-type(3) {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(auto-fit, auto);
                padding: 5%;

                & p {
                    text-align: justify;
                    font-size: 15px;
                }
            }
        }
        & footer {
            display: flex;
            background-color:$secondary-color;
            height: 50px;
            width: 100%;
            align-items: center;
            padding-left: 5%;

            & a {
                color: white;
                text-decoration: none;
                font-size: 12px;
            }
        }
    }
}

@media (min-width: $breakpoint-landscape-phone) {
    body {
        background-color: $primary-color;
        height: auto;

        & nav {
            padding-left: 3%;
            padding-right: 3%;
        }
        & .navbar {
            box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.2);
        }
        & .navbar-brand {
            font-size: 25px;
            font-weight: bold;
        }
        & main {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 60vh repeat(auto-fit, minmax(250px, auto));
            grid-gap: 2%;

            & section {
                & p {
                    margin-top: 2%;
                    margin-bottom: 5%;
                }
                & h2 {
                    width: 100%;
                    text-align: center;
                    font-size: 25px;
                    font-weight: bolder;
                    text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
                }
                &:nth-of-type(1) {
                    position: relative;

                    & .main-img-wrapper {
                        width: 100%;
                        height: 100%;
                        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.2);

                        & .main-img {
                            min-width: 100%;
                            min-height: 100%;
                            background-image: url(../img/mountain.webp);
                            background-position: center;
                            background-size: cover;
                        }
                    }
                    & p {
                        position: absolute;
                        font-size: 20px;
                    }
                    & .catchphrase-1 {
                        top: 50%;
                        left: 5%;
                    }
                    & .catchphrase-2 {
                        top: 60%;
                        left: 10%;
                    }
                    & .catchphrase-3 {
                        top: 70%;
                        left: 15%;
                    }
                }
                &:nth-of-type(2) {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(auto-fit, auto);
                    padding: 5%;

                    & p {
                        text-align: justify;
                        font-size: 15px;
                    }
                    & .section1-img-wrapper {
                        width: 100%;
                        height: 50vh;

                        & figure {
                            min-width: 100%;
                            min-height: 100%;
                            background-image: url(../img/people.webp);
                            background-position: center;
                            background-size: cover;
                            border-radius: 40px;
                            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);

                        }
                    }

                }
                &:nth-of-type(3) {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(auto-fit, auto);
                    padding: 5%;

                    & p {
                        text-align: justify;
                        font-size: 15px;
                    }
                }
            }
            & footer {
                display: flex;
                background-color:$secondary-color;
                height: 50px;
                width: 100%;
                align-items: center;
                padding-left: 5%;

                & a {
                    color: white;
                    text-decoration: none;
                    font-size: 12px;
                }
            }
        }
    }
}
@media (min-width: $breakpoint-tablets) {
    body {
        background-color: $primary-color;
        height: auto;

        & nav {
            padding-left: 3%;
            padding-right: 3%;
        }
        & .navbar {
            box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.2);
        }
        & .navbar-brand {
            font-size: 30px;
            font-weight: bold;
        }
        & .nav-item {
            font-size: 20px;
        }
        & .breadcrumb {
            font-size: 20px;
        }
        & main {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 60vh repeat(auto-fit, minmax(250px, auto));
            grid-gap: 2%;

            & section {
                & p {
                    margin-top: 2%;
                    margin-bottom: 5%;
                }
                & h2 {
                    width: 100%;
                    text-align: center;
                    font-size: 30px;
                    font-weight: bolder;
                    text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
                }
                &:nth-of-type(1) {
                    position: relative;

                    & .main-img-wrapper {
                        width: 100%;
                        height: 100%;
                        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.2);

                        & .main-img {
                            min-width: 100%;
                            min-height: 100%;
                            background-image: url(../img/mountain.webp);
                            background-position: center;
                            background-size: cover;
                        }
                    }
                    & p {
                        position: absolute;
                        font-size: 25px;
                    }
                    & .catchphrase-1 {
                        top: 50%;
                        left: 5%;
                    }
                    & .catchphrase-2 {
                        top: 55%;
                        left: 10%;
                    }
                    & .catchphrase-3 {
                        top: 60%;
                        left: 15%;
                    }
                }
                &:nth-of-type(2) {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(auto-fit, auto);
                    padding: 5%;

                    & p {
                        text-align: justify;
                        font-size: 20px;
                    }
                    & .section1-img-wrapper {
                        width: 100%;
                        height: 40vh;

                        & figure {
                            min-width: 100%;
                            min-height: 100%;
                            background-image: url(../img/people.webp);
                            background-position: center;
                            background-size: cover;
                            border-radius: 40px;
                            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);

                        }
                    }

                }
                &:nth-of-type(3) {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(auto-fit, auto);
                    padding: 5%;

                    & p {
                        text-align: justify;
                        font-size: 20px;
                    }
                }
            }
            & footer {
                display: flex;
                background-color:$secondary-color;
                height: 80px;
                width: 100%;
                align-items: center;
                padding-left: 5%;

                & a {
                    color: white;
                    text-decoration: none;
                    font-size: 20px;
                }
            }
        }
    }
}
@media (min-width: $breakpoint-desktops) {
    body {
        background-color: $primary-color;
        height: auto;

        & nav {
            padding-left: 3%;
            padding-right: 3%;
        }
        & .navbar {
            box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.2);
        }
        & .navbar-brand {
            font-size: 30px;
            font-weight: bold;
        }
        & .nav-item {
            font-size: 20px;
        }
        & .breadcrumb {
            font-size: 20px;
        }
        & main {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 60vh repeat(auto-fit, minmax(250px, auto));
            grid-gap: 2%;

            & section {
                & p {
                    margin-top: 2%;
                    margin-bottom: 5%;
                }
                & h2 {
                    width: 100%;
                    text-align: center;
                    font-size: 30px;
                    font-weight: bolder;
                    text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
                }
                &:nth-of-type(1) {
                    position: relative;

                    & .main-img-wrapper {
                        width: 100%;
                        height: 100%;
                        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.2);

                        & .main-img {
                            min-width: 100%;
                            min-height: 100%;
                            background-image: url(../img/mountain.webp);
                            background-position: center;
                            background-size: cover;
                        }
                    }
                    & p {
                        position: absolute;
                        font-size: 25px;
                    }
                    & .catchphrase-1 {
                        top: 50%;
                        left: 5%;
                    }
                    & .catchphrase-2 {
                        top: 60%;
                        left: 10%;
                    }
                    & .catchphrase-3 {
                        top: 70%;
                        left: 15%;
                    }
                }
                &:nth-of-type(2) {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(auto-fit, auto);
                    padding: 5%;

                    & p {
                        text-align: justify;
                        font-size: 20px;
                    }
                    & .section1-img-wrapper {
                        width: 100%;
                        height: 40vh;

                        & figure {
                            min-width: 100%;
                            min-height: 100%;
                            background-image: url(../img/people.webp);
                            background-position: center;
                            background-size: cover;
                            border-radius: 40px;
                            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);

                        }
                    }

                }
                &:nth-of-type(3) {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(auto-fit, auto);
                    padding: 5%;

                    & p {
                        text-align: justify;
                        font-size: 20px;
                    }
                }
            }
            & footer {
                display: flex;
                background-color:$secondary-color;
                height: 80px;
                width: 100%;
                align-items: center;
                padding-left: 5%;

                & a {
                    color: white;
                    text-decoration: none;
                    font-size: 20px;
                }
            }
        }
    }
}
@media (min-width: $breakpoint-large-desktops) {
    body {
        background-color: $primary-color;
        height: auto;

        & nav {
            padding-left: 3%;
            padding-right: 3%;
        }
        & .navbar {
            background-color: rgba(117, 127, 73,0.9);
            box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.2);
        }
        & .navbar-brand {
            font-size: 30px;
            font-weight: bold;
        }
        & .nav-item {
            font-size: 20px;
        }
        & .breadcrumb {
            font-size: 20px;
        }
        & main {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 90vh repeat(auto-fit, minmax(250px, auto));
            grid-gap: 2%;

            & section {
                & p {
                    margin-top: 2%;
                    margin-bottom: 5%;
                }
                & h2 {
                    width: 100%;
                    text-align: center;
                    font-size: 40px;
                    font-weight: bolder;
                    text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
                }
                &:nth-of-type(1) {
                    position: relative;

                    & .main-img-wrapper {
                        width: 100%;
                        height: 100%;
                        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.2);

                        & .main-img {
                            min-width: 100%;
                            min-height: 100%;
                            background-image: url(../img/mountain.webp);
                            background-position: center;
                            background-size: cover;
                        }
                    }
                    & p {
                        position: absolute;
                        font-size: 25px;
                    }
                    & .catchphrase-1 {
                        top: 50%;
                        left: 2%;
                    }
                    & .catchphrase-2 {
                        top: 58%;
                        left: 4%;
                    }
                    & .catchphrase-3 {
                        top: 66%;
                        left: 6%;
                    }
                }
                &:nth-of-type(2) {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(auto-fit, auto);
                    padding: 5%;

                    & p {
                        text-align: justify;
                        font-size: 20px;
                    }
                    & .section1-img-wrapper {
                        width: 100%;
                        height: 80vh;

                        & figure {
                            min-width: 100%;
                            min-height: 100%;
                            background-image: url(../img/people.webp);
                            background-position: center;
                            background-size: cover;
                            border-radius: 40px;
                            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);

                        }
                    }

                }
                &:nth-of-type(3) {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(auto-fit, auto);
                    padding: 5%;

                    & p {
                        text-align: justify;
                        font-size: 20px;
                    }
                }
            }
            & footer {
                display: flex;
                background-color:$secondary-color;
                height: 90px;
                width: 100%;
                align-items: center;
                padding-left: 5%;

                & a {
                    color: white;
                    text-decoration: none;
                    font-size: 22px;
                }
            }
        }
    }
}
